@import "_reset.css";
/*  Color palette
    -----------------------
    color       HEX code  RGB code
    -------------------------------------
    red:      	#960001	  rgb(150,0,1)
    yellow:     #e2e55f	  rgb(226,229,95)
    green:      #96c25f	  rgb(150,194,95)
    blue:       #5582c6	  rgb(85,130,198)
    purple: 	  #79519f	  rgb(121,81,159) 

    fonts
    -----------------------
    headings:   Cabin
    body:       Roboto

    font-sizes:
    -----------------------
    h1:   70px
    h2:   36px
    h3    24px
    body: 17px (all other text)

    breakpoints
    -----------------------
    desktop: 1200px
    
    max-width of the content is 1400px
*/

/* Add all of your styles here */

body {
    background-color: #5582c6;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 17px;
}

b {
    font-weight: bold;
}

hr {
    height: 2px;
    border-width:0;
    color:#e2e55f;
    background-color: #e2e55f
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5em;
}

.header1 {
    height: 470px;
    width: 100%;
    background-image: url("../images/toystory4_wallpaper.jpg");
    background-size: cover;
}

.header2 img {
    vertical-align: middle;
    display: inline-block;
    padding-right: 2%;
    margin-top: -200px;
}

.header2 h1 {
    vertical-align: bottom;
    display: inline-block;
    padding: 1% 2%;
    margin-bottom: 1.2em;
    font-size: 70px;
    background-color: #FFFFFF;
    opacity: 0.7;

}

.header2 img {
    height: 400px;
}

h1, h2, h3 {
    color: #960001;
    font-family: 'Cabin', sans-serif;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
    padding-bottom: 1%;
}

a:link {
    color: #e2e55f;
    text-decoration: none;
    font-weight: bold;
}

a:hover, a:active {
    color: white;
  }

.synopsis {
    padding-top: 2rem;
}

.characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;  
}

.character {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0 0  50%;
    text-align: left;
}

.characters img {
    float: left;
    padding-right: 1em;
    width: 200px;
    height: 200px;
}

.woody, .buzz, .forky, .bo {
    float: left;
    padding-bottom: 1em;
    padding-right: 2em;
}

.banner:hover {
    transform: scale(1.25);
}

.banner {
    padding: 2em 8em;
    background-color: #e2e55f;
    color: #960001;
}

.banner p {
    vertical-align: middle;
    display: inline-block;
}

#comment {
    width: 375px;
    height: 30px;
}

#rate {
    width: 383px;
    background-color: #79519f;
    color: #FFFFFF;
    font-size: 24px;
    border-radius: 1px;
    border-color: #79519f;
}

.rating {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 2em;
}
