@import "_reset.css";
/*  Color palette
    -----------------------
    color       HEX code  RGB code
    -------------------------------------
    red:      	#960001	  rgb(150,0,1)
    yellow:     #e2e55f	  rgb(226,229,95)
    green:      #96c25f	  rgb(150,194,95)
    blue:       #5582c6	  rgb(85,130,198)
    purple: 	  #79519f	  rgb(121,81,159) 

    fonts
    -----------------------
    headings:   Cabin
    body:       Roboto

    font-sizes:
    -----------------------
    h1:   70px
    h2:   36px
    h3    24px
    body: 17px (all other text)

    breakpoints
    -----------------------
    desktop: 1200px
    
    max-width of the content is 1400px
*/

/* Add all of your styles here */

body {
    background-color: #5582c6;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 17px;
}


h1, h2, h3 {
    color: #960001;
    font-family: 'Cabin', sans-serif;
}


h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
    padding-bottom: 1%;
}

a {
    color: #e2e55f;
}


.main  {
    margin-left: 10%;
    margin-right: 10%;
}


.characters {
    display: grid;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    grid-template-columns: 50% 50%;
  }
  


.character img {
    float: left;
    padding-right: 2%;
    ;
}

